$primary-color: #fd7b33;
$primary-light-color: #ffe8db;
$body-color: #ffffff;
$surface-color: #f7f7f7;
$mute-color: #798da3;
$dark-color: #29323d;

// .color-primary{
//     color: $primary-color;
// }

// .body-color{
//     color: $body-color;
// }

// .surface-color{
//     color: $surface-color;
// }

// .mute{
//     color: $mute-color;
// }

// .dark-color{
//     color: $dark-color;
// }

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #eef1f5;
  background-color: #fff;
  z-index: 9;

  .wrapper {
    min-height: 40px;
    max-width: 1330px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .logo {
    height: 50px;
    justify-content: flex-start;
    display: flex;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .nav-items {
      position: relative;
      font-size: 16px;
      font-weight: 600;

      .nav-item {
        margin: 0 15px;
        height: 48px;
        display: block;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $dark-color;
        font-weight: 300;
        position: relative;
        font-weight: 600;

        &.active {
          color: #fd7b33;

          &::before {
            content: "";
            height: 7px;
            width: 7px;
            border-radius: 100%;
            background-color: #fd7b33;
            position: absolute;
            top: 35px;
            left: 42%;
          }

          &::after {
            content: "";
            height: 1px;
            width: 100%;
            background-color: #fd7b33;
            position: absolute;
            top: 38px;
          }
        }

        &:hover {
          color: $primary-color;
        }
      }

      &:hover {
        color: $primary-color;
        .sub-items {
          display: block;
        }
      }

      .sub-items {
        display: none;
        position: fixed;
        width: 100%;
        max-width: 740px;
        margin: auto;
        top: 54px;
        right: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgb(204 204 204 / 17%);
        padding: 15px;
        border: 1px solid #eef1f5;

        &:hover .nav-item {
          color: #000;
        }

        .sub-item {
          display: flex;
          color: $dark-color;

          .icon {
            height: 30px;
            width: 30px;
            margin-right: 15px;

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }

          .content {
            flex: 1;
            h1 {
              font-size: 14px;
              font-weight: 600;
            }

            p {
              font-weight: 400;
              font-size: 12px;
            }

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    .headers{
      min-height: 40px;
    max-width: 1330px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #eef1f5;
    background-color: #fff;
    }

    &.active {

    display: block;
    }

    .mobile-menu {
      position: absolute;
      top: 60px;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: auto;

        .nav-items {
          position: relative;
          font-size: 16px;
          font-weight: 600;
          padding: 0 15px;

          .nav-item {
     
            height: 48px;
            display: block;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $dark-color;
            font-weight: 300;
            position: relative;
            font-weight: 600;

            &.active {
              color: #fd7b33;
              width: 100%;
              display: block;
              text-align: center;

              &::before {
                content: "";
                height: 7px;
                width: 7px;
                border-radius: 100%;
                background-color: #fd7b33;
                position: absolute;
                top: 35px;
                left: 42%;
              }

              &::after {
                content: "";
                height: 1px;
                width: 100%;
                background-color: #fd7b33;
                position: absolute;
                top: 38px;
                right: 0;
                left: 0;
              }
            }

            &:hover {
              color: $primary-color;
            }
          }

          &:hover {
            color: $primary-color;
            .sub-items {
              display: block;
            }
          }

     
        }
      
    }
  }

  .mobile{
    padding: 20px 0;
    backdrop-filter: blur(15px);

    .menu{
      display: flex;
      justify-content: center;
      flex-direction: column;

      a{
        font-size: 18px !important;
      }
    }

    .btns{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 50px;

      .btn{
        min-width: 140px;
      }

    }
  }

.hide-md{
  display: none;
}


  @media screen and (max-width: 600px) {
    .hide-xs {
      display: none;
    }

    .show-xs{
      display: block;
    }
  }
}

.fs-md{
  font-size: 14px;
}