.footer {
    background-color: #29323d;
    padding: 60px 0;
    padding-bottom: 0;
  
    .social-media {
      display: flex;
      align-items: center;
      width: auto;
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        ::ng-deep #icon {
          path: #9fafc1;
        }
      }
    }
  
    .copy-rights {
      color: #9fafc1;
      font-size: 14px;
    background-color: #323a45;
    padding: 15px;
    text-align: center;
    }
  }
  
  .sitemap {
    list-style: none;
    padding: 0;
    margin: 0;
  
    .heading {
      margin-bottom: 20px;
      font-weight: 700;
      color: #fff;
      position: relative;

      &::after{
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #fd7b33;
        left: 0;
        bottom: -10px;
      }
    }
  
    li {
      color: #798da3;
      margin-bottom: 15px;
      font-size: 14px;
      a {
        color: #cdd6df;
      }
    }
  }

  .social-icon{
    height: 40px;
    width: 40px;
  }

  .socialicons-group{
    margin-bottom: 34px !important;
  }
  