@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

$primary-color: #fd7b33;
$primary-light-color: #ffe8db;
$body-color: #ffffff;
$surface-color: #f7f7f7;
$mute-color: #798da3;
$dark-color: #29323d;

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.fw-400 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.fw-600 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.fw-700 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fd7b33;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.mute {
  color: #798da3;
}

// h1 {
//   font-size: 3rem;
// }

p {
  font-weight: 300;
  font-size: 18px;
  color: #7B7B7B;
}

.fs-16{
  font-size: 16px;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 4px;
  min-width: 100px;
}

.btn-primary {
  background: rgb(251,176,64);
  background: linear-gradient(90deg, rgba(251,176,64,1) 0%, rgba(239,65,54,1) 100%);
  border: 0;
  &:hover {
    background: rgb(251,176,64);
    border: 0;
  }
}

.btn-secondary {
  color: rgba(239,65,54,1);
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgba(251,176,64,1), rgba(239,65,54,1));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-secondary:hover {
  color: rgba(239,65,54,1);
  border-color: rgba(239,65,54,1);
}

.btn-light {
  background-color: #fff;
  border-color: #fff;
  color: #fd7b33;
  min-width: 120px;

  &:hover {
    background-color: #fd7b33;
    border-color: #fd7b33;
    color: #fff;
  }
}

.pt-6 {
  padding-top: 70px !important;
}

.pt-60 {
  padding-top: 60px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.color-bg-primary {
  background-color: $primary-color;
}

.color-primary {
  color: $primary-color;
}

.color-bg-primary-light {
  background-color: $primary-light-color;
}

.color-white {
  color: #fff;
}

.header {
  padding-top: 60px;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      align-items: start;
    }
  }

  h1 {
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {
    text-align: center;
  }
}

.ribbon {
  background-color: $primary-light-color;

  p {
    color: $mute-color;
    margin-right: 15px;
    font-weight: 300;
    font-size: 14px;
  }
}

.services {
  .services-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 340px;
    padding: 15px;
    box-shadow: 0px 0px 4px #ccc;
    cursor: pointer;

    &.active {
      background-color: aliceblue;
    }
  }

  .image {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;

    svg {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.solutions {
  .image {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.card {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #e0e0e0;
  min-height: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  width: 100%;
  min-height: 330px;
  margin: auto;
  position: relative;
  top: 0;
  transition: top ease 0.5s;

  svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;
    top: -10px;

    path {
      fill: #fff;
    }

    h4 {
      color: #fff;
    }
  }

  h4 {
    color: #000;
  }
}

.north-star {
  .tabs-list {
    display: flex;
    align-items: center;

    .image {
      height: 60px;
      width: 60px;
      margin-right: 15px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .content {
      flex: 1;

      h3 {
        font-size: 18px;
        font-weight: 700;
        color: #000;
      }

      p {
        font-size: 16px;
        color: #798da3;
        margin-bottom: 0;
      }
    }
  }

  .tab-content {
    p {
      font-size: 32px;
    }
  }

  .nav-pills .nav-link {
    padding: 15px;
  }

  .nav-pills .nav-link.active {
    background-color: #fd7a3312;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 54px solid transparent;
      border-bottom: 54px solid transparent;
      border-right: 34px solid #fff6f2;
      top: 0;
      left: -32px;
    }
  }
}

.clients {
  h1 {
    font-size: 30px;
  }
}

.client-slider {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .img {
    height: 100px;
    padding: 15px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.counter {
  text-align: center;

  h1 {
    font-size: 40px;
    // font-family: "Oswald", sans-serif;
    margin-bottom: 20px;
  }
}

.devopstext {
  text-align: center !important;
  max-width: 400px !important;
  width: 100%;
  min-height: 100px;
  margin: auto;
}

.services-tabs {
  .content {
    display: none;
    text-align: center;

    img {
      max-width: 640px;
      width: 100%;
    }

    &.active {
      display: block;
    }
  }
}

.panel {
  background-color: #f8f9fa;
  border: 1px solid #bec6cc;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgb(204 204 204 / 88%);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      .cross {
        padding-right: 10px;
      }

      .tick {
        padding-right: 10px;
      }
    }
  }
}

.bg-grey {
  background-color: #f7f6f6;
}

.bg-orange {
  background-color: #fd7b33;
}

.color-orange {
  color: #fd7b33;
}

.color-light {
  color: #fff;
}

.filter-light {
  filter: brightness(6);
}

.how-it-works {
  .box {
    max-width: 290px;
    width: 100%;
    margin: auto;
    text-align: center;

    img {
      margin-bottom: 10px;
    }
  }
}

.lie-truth-panel {
  display: flex;
  margin-bottom: 30px;

  .img {
    width: 90px;
    height: 90px;
    padding: 10px;
    padding-right: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .content {
    flex: 1;

    p {
      font-weight: 700;
    }
  }
}

.plan {
  display: flex;
  margin: auto;
  max-width: 900px;
  width: 100%;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  .plan-col {
    border: 2px solid #c9d3dd;
    max-width: 230px;
    width: 100%;
    margin-left: -2px;

    @media only screen and (max-width: 768px) {
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .head {
      height: 130px;
      padding: 20px;
      text-align: center;

      .fs-md {
        font-size: 20px;
        font-weight: 700;
        color: #3b4754;
      }

      .fs-xs {
        font-size: 14px;
      }

      .fs-lg {
        font-size: 32px;
        color: #000;
        font-weight: 700;
      }

      sup {
        top: -0.6em;
        font-size: 16px;
      }
    }

    .body {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 10px 20px;
          border-top: 1px solid #edf0f4;
          display: flex;
          align-items: center;
          min-height: 64px;

          .feature {
            color: #798da3;
            font-size: 14px;
            font-weight: 500;
            @media only screen and (max-width: 768px) {
              text-align: center;
            }
          }
        }
      }
    }

    .foot {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
    }
  }
}

.accordion-button {
  color: $dark-color !important;
  background-color: #ffffff !important;
  font-size: 14px;
  font-weight: 700;
}

.accordion-header {
  strong {
    font-weight: 700;
    font-size: 18px;
  }

  p {
    margin-bottom: 0;
  }
}

.accordion-body {
  padding: 1rem 1.25rem;
  background-color: #fff3ec;
  border: 0;

  strong {
    font-weight: 700;
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }
}

.accordion-button::after {
  filter: contrast(0.5);
}

.accordion-item {
  background-color: #fff;
  border: 0px solid #c9d3dd !important;
  margin-bottom: 12px;
  border-radius: 4px;
}

.custom-tabs {
  .nav-item {
    max-width: 240px;
    width: 100%;
    margin: 0 4px;
  }
  .nav-pills .nav-link {
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    color: #000;
    border: 1px solid #eff0f4;
    padding: 15px;

    &.active {
      background-color: #fd7b33;
      border: 1px solid #fd7b33;
      color: #fff;
    }
  }

  .tab-content {
    max-width: 680px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #eff0f4;
    border-radius: 4px;
    min-height: 300px;
    padding: 15px;
    font-size: 14px;

    p {
      font-size: 14px;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 15px;
  // min-height: 240px;
  // max-width: 320px;
  margin: auto;
  margin-bottom: 40px;

  strong {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

.box-white {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: auto;
  margin-bottom: 40px;
  background-color: #fff;
  min-height: 240px;
  max-width: 360px;
  width: 100%;
  justify-content: space-between;
  border-radius: 4px;

  strong {
    margin-bottom: 10px;
    display: block;
  }
}

.problems {
  margin: auto;
  max-width: 1024px;
  width: 100%;
  padding: 0;

  li {
    display: flex;
    align-items: center;

    .icon {
      height: 80px;
      width: 80px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .contents {
      text-align: left;
      max-width: 400px;
      width: 100%;
      small {
        font-weight: 600;
        color: #fd7a33;
      }
    }
  }
}

.feature {
  text-align: center;
  max-width: 340px;
  width: 100%;
  margin: auto;

  .label {
    text-transform: uppercase;
    color: #fd7b33;
    font-weight: 500;
  }

  h2 {
    color: #000;
    font-size: 26px;
  }

  p {
    font-size: 14px;
  }
}

.strip {
  background-color: #fd7a33;
}

.banner-image {
  max-width: 600px;
  width: 100%;
}

.banner {
  min-height: 230px;
  background-color: #fff;
  background-size: contain;
  background-image: url("./assets/images/landing/free-assesment.png");
  background-repeat: no-repeat;
  padding: 40px;
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

.panel-card {
  background-color: #edf1f5;
  min-height: 390px;
  padding: 20px;
  max-width: 390px;
  margin: auto;
}

.threats-list {
  list-style: none;
  display: flex;
  justify-content: start;
  max-width: 540px;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    font-size: 14px;
    margin-bottom: 15px;

    img {
      width: 60px;
    }
  }
}

hr {
  width: 60px;
  background-color: #fd7a33;
  height: 2px !important;
  opacity: 1;
}

.hr-white {
  background-color: #fff;
}

.col-400px {
  max-width: 420px;
}

.square-list {
  li {
    position: relative;
    font-weight: 300;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      background-color: #fd7a33;
      left: -24px;
      top: 7px;
    }
  }
}

.header {
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-bg {
  background-image: url("././assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.highlight {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("././assets/highlight.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 20px;
    right: 0;
    bottom: -20px;
  }
}

@media (min-width: 1400px){
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
}

}

.box{
  background-color: #efefef;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 120px;
  border-radius: 10px;
  margin-top: 60px;
  padding-top: 40px;


  .icon{
    height: 90px;
    width: 90px;
    background-color: white;
    position: absolute;
    top: -48px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .img{
      height: 80px;
      width: 80px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .content{
    font-size: 14px;
    font-weight: 700;
  }


}


.green-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #e8f9f1 80%);
}

.green{
  background-color: #E8F9F1;
}

.red-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #FFEDE9 80%);
}

.red{
  background-color: #FFEDE9;
}

.blue-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #E7F3FF 80%);
}

.blue{
  background-color: #E7F3FF;
}

.yellow-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #FFF5DD 80%);
}

.yellow{
  background-color: #FFF5DD;
}

.purple-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #EFF0FF 80%);
}

.purple{
  background-color: #EFF0FF;
}

.darkyellow-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #FFF5DD 80%);
}

.darkyellow{
  background-color: #FFF5DD;
}

.maroon-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #FFECFC 80%);
}

.maroon{
  background-color: #FFECFC;
}

.organge-gradient{
  background: #fff;
  background: radial-gradient(circle, white 50%, #FDEBEA 80%);
}

.organge{
  background-color: #FDEBEA;
}

@media only screen and (max-width: 600px) {

  .col-reverse{
    flex-direction: column-reverse;
  }
  
  .text-center-xs{
  text-align: center;
  }
}

